<script>
	import TaskItem from './TaskItem.svelte';
	import { quintOut } from 'svelte/easing';
	import { crossfade } from 'svelte/transition';
	import { flip } from 'svelte/animate';
	import { projects } from './projectStore.js';
	import { onMount, beforeUpdate, tick } from 'svelte';
	const {backend: {host, port} } = require('./../../config.js');


	export let project_id;

	const [send, receive] = crossfade({
		fallback(node, params) {
			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			return {
				duration: 1200,
				easing: quintOut,
				css: t => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});

	// console.log("TaskList:\n"+JSON.stringify($projects));
	// console.log($projects);


	// let todos = projects.byPID(project_id).taskList;
	let todos = [];
	onMount(async () => {
		const request = await fetch(`http://${host}:${port}/projects/${project_id}/tasks`);
		todos = await request.json();
		console.log("TaskList-onMount:");
		console.log(todos);

	})
	$: sortedTodos = [...todos.filter(t=> !t.status) , ...todos.filter(t=> t.status)];

	let todoDescription = '';
	async function add() {
		if(todoDescription !== '')
		{
			const response = await fetch(`http://${host}:${port}/projects/${project_id}/tasks`,{
				method: 'POST',
				headers:{
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({name: todoDescription, status: false})
			})
			const todo = await response.json();
			// alert(todo);

			// const todo = {
			// 	id: response.id,
			// 	done: response.status,
			// 	description: response.name
			// };

			todos = [todo, ...todos];
			todoDescription = '';
		}

		console.log("TaskList-addTask:");
		console.log(todos);


		projects.byPID(project_id).taskList = todos;
	}

	async function remove(todo) {
		let response = await fetch(`http://${host}:${port}/projects/${project_id}/tasks/${todo.id}`,{
			method: 'DELETE'
		});
		let result = await response.text();
		// alert(result);

		todos = todos.filter(t => t !== todo);
		projects.byPID(project_id).taskList = todos;

		console.log("TaskList-removeTask:");
		console.log(todos);
	}

	todos.forEach(todo => todo.needToRename = false);

	let newDescription = '';
	function triggerRenameTask(todo) {
		newDescription = todo.name;
		todo.needToRename = true;
	}
	async function renameTask(todo, newName) {
		const response = await fetch(`http://${host}:${port}/projects/${project_id}/tasks/${todo.id}`,{
			method: 'PUT',
			headers:{
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({name: newName, status: false})
		})
		const result = await response.json();
		// alert(todo);

		todo.name = newName;
		todo.needToRename = false;
		newDescription = '';
		projects.byPID(project_id).taskList = todos;

		console.log("TaskList-renameTask:");
		console.log(todos);
	}

	// async function updateTask2(todo){
	// 	beforeUpdate(async () => {
	// 		await tick();
	// 		updateTask(todo);
	// 	});
	// }
</script>

<style>

.project-add-task-wrapper {
	/* display: flex; */
	background: linear-gradient(#dfdfdf, #cccccc);
	/* border-radius: 3px; */
	border: 1px solid grey;
}

.new-todo {
	font-size: 1.4em;
	width: 80%;
	height: 40px;
	margin: 0.5em 0 0.5em 1em;
	display: inline-block;
	border-radius: 0px;
}

.new-todo-button {
	color: white;
	display: inline-block;
	background: linear-gradient(#88bfa2ff, #5b9273ff);
	margin: 0 0 0 -5px;
	font-size: 1.1em;
	/* width: 15%; */
	height: 40px;
	border-top-right-radius:    0.5em;
	border-bottom-right-radius: 0.5em;
}

.todo-list-wrapper {
	float: left;
	width: 100%;
	padding: 0 0 0 0;
	box-sizing: border-box;
	background-color: #fff;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	overflow: hidden;
}

label.common, .bottom-label {
	top: 0;
	left: 0;
	display: block;
	font-size: 1em;
	line-height: 2;
	/* padding: 0.5em; */
	margin: 0 auto 0 auto;
	border-radius: 0px;
	border-top: 1px solid grey;
	background-color: #fff;
	user-select: none;
}

input { margin: 0; }

.todo-button {
	display: inline-block;
	float: right;
	height: 1em;
	box-sizing: border-box;
	padding: 0 0.5em;
	line-height: 1;
	/* background: linear-gradient(#123123, #234234); */
	background-color: transparent;
	border: none;
	color: rgb(170,30,30);
	opacity: 0;
	transition: opacity 0.2s;
}

label:hover {
	background-color: #FAEBD7;
}

label:hover .todo-button {
	opacity: 1;
}

.cb {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px 0 10px;
}

</style>


<div class="project-add-task-wrapper">

	<input class="new-todo"
		style="display:inline-block"
		placeholder="what needs to be done?"
		bind:value={todoDescription}
		on:keydown="{event => event.which === 13 && add()}"
	>
	<button class="new-todo-button" on:click="{() => add()}">Add task</button>
</div>

<div class='todo-list-wrapper'>
{#each sortedTodos as todo (todo.id)}
	<label
		class="common"
		in:receive="{{key: todo.id}}"
		out:send="{{key: todo.id}}"
		animate:flip="{{duration: 500}}"
	>
		<div class="cb">
			<input type=checkbox
				bind:checked={todo.status}

			>
		</div>
		{#if todo.needToRename}
		  <input
				autofocus
		    type="text"
		    bind:value={newDescription}
		    on:keydown="{event => event.which === 13 && renameTask(todo, newDescription) }"
		  >
		{:else}
			<TaskItem project_id={project_id} {...todo} />
		{/if}
		<button class="todo-button" on:click="{() => remove(todo)}">x</button>
		<button class="todo-button" on:click="{() => triggerRenameTask(todo)}">e</button>
	</label>
{/each}
</div>
