<script>
  const {backend: {host, port} } = require('./../../config.js');


  export let project_id;
  // export let todo;
  export let id;
  export let status = true;
  export let name;

  async function updateTask(){
		const response = await fetch(`http://${host}:${port}/projects/${project_id}/tasks/${id}`,{
			method: 'PUT',
			headers:{
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({name:name, status:status})
		})
		const result = await response.text();
		// alert(result);

		// console.log("TaskItem-updateTask:");
		// console.log(name);
	}

  let counter = 1;
  $:{
    console.log(`TaskItem-${name}-${status}`);
    // console.log(status);
    //dirty hack to avoid PUT request on each TaskItem on component initialization!
    if(counter > 0) counter--;
    else updateTask();
  }
</script>

<style>

.description-wrapper {
  display: inline;
  /* padding: 5em; */
  /* width: 200px; */
}

p.taskDescription, p.doneDescription {
  overflow: hidden;
  display: inline-block;
  color:black;
  border-left: 1px solid red;
  border-right: 1px solid red;
  padding: 0.5em;

  /* text-indent: 0em; */
  /* align-items: right;  */
  width: 85%;
  margin: 0 0 0 0;
  /* padding-left: 1em; */
  /* padding-right: 5em; */
}

p.doneDescription {
  color:gray;
}
</style>


<div class="description-wrapper">
  {#if status}
    <p class="doneDescription"><s>{name}</s></p>
  {:else}
    <p class="taskDescription">{name}</p>
  {/if}
</div>
